.home-margin {
  margin-top: 5em;
}
.container.container-half {
  text-align: center;
  margin-top: 10%;
  color: #f9b835;
}
@media (max-width: 704px) {
    .main-content {
      margin-left: 0;
      justify-content: center;
    }
  
}
