.form-container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.tabs-contain {
  width: 60%;
}

@media (max-width: 700px) {
  .tabs-contain {
    margin-left: 0;
  }
}

.tab-profile {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  color: black;
  width: 33%;
  font-size: 1.4em;
  text-align: center;
}

.react-tabs__tab--selected {
  background: transparent;
  border-bottom: 2px Solid #f0a91a;
  color: black;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
}
