.item-image {
    height: 12em;
    width: 12em;
    border-radius: 50%;
    overflow: hidden;
    filter: brightness(70%);
}

.item-image-border {
    height: 12em;
    width: 12em;
    border-radius: 50%;
    overflow: hidden;
    filter: brightness(70%);
    border: 5px solid #f0a91a;
}

.item-image:hover {
    -webkit-text-size-adjust: 100%;
    transform: scale(1.1);
    filter: brightness(100%);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 3vh;
}

.item-name {
    font-size: 1.2rem;
    color: green;
    margin-top: 5px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radio {
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
}

.radio-group {
    display: flex;
    justify-content: space-around;
}

.calender-con {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    border: 2px solid #03bd66;
    border-radius: 20px;
}

.calender {
    border: 2px solid transparent;
    
    text-align: center;
}

.calender:hover {
    cursor: pointer;
}

